# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: elagouch <elagouch@42>                     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/09/22 18:34:47 by elagouch          #+#    #+#              #
#    Updated: 2024/09/22 18:37:19 by elagouch         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*
**/*

!*.h
!**/*.h
!*.c
!**/*.c
!Makefile
!README.md
!.gitignore
